<?xml version="1.0" ?>
<config>
    <modules>
        <MyCustomModule_HelloWorld>
            <version>0.0.1</version>
        </MyCustomModule_HelloWorld>
    </modules>
 
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>MyCustomModule_HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
 
        <!-- This node contains module layout configuration -->
        <layout>
            <updates>
                <!-- module alias -->
                <helloworld>
                    <!-- File for loading -->
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
</config>